
@{
    ViewBag.Title = "AddServices";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>YENİ HİZMET EKLE</h2>
<form method="post">
    <label>HİZMET BAŞLIĞI</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>

