
<section class="w3l-contactblock" id="contact">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="contact-heading text-center">
                <span class="text">Benimle İletişime Geç </span>
                <h3 class="title-big">Birlikte çalışmaya <span>hazır mısın?</span></h3>
                <p class="mt-4">Projeye başlayalım!</p>
            </div>
            <div class="row mt-md-5 mt-4 pt-lg-3">
                <div class="col-lg-5">
                    <p>
                        I’m open to any communication! Feel free to contact me any convenient way!
                        I’m always interested in hearing about new projects and opportunities.
                    </p>
                    <ul class="address mt-md-5 mt-4">
                        <li class="mb-4">
                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:tulinttaspinar@gmail.com">tulinttaspinar@gmail.com</a></p>
                        </li>
                        <li class="">
                            <p><span class="fa fa-map-marker"></span>  Ataşehir/İstanbul</p>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-7 mt-lg-0 mt-md-5 mt-4">
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="İsim"
                                   required="">
                            <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="w3lSubject" id="w3lSubject"
                                   placeholder="Konu Başlığı" required="">
                        </div>
                        <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Mesaj"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-style mt-4">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
