@model List<DemoUpSchoolProject.Models.Entities.TBL_PROJECT>
<section class="w3l-homeblock3" id="projects">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-12">
                    <span class="text">PROJELERİM </span>
                    <h3 class="title-big">
                        Geliştirdiğim
                        <span> projeler.</span>
                    </h3>
                    <p class="mt-4">

                    </p>
                    <div class="reward-list">
                        <div class="reward-item">
                            <div class="reward-item-photo">
                                1k+
                            </div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Total CLients</span>
                                <p class="reward-item-descr">over 18 countries</p>
                            </div>
                            <div class="reward-item-photo">
                                <img src="~/Template/iportfolio-starter/assets/images/client1.png" class="img-fluid" alt="" />
                            </div>
                            <div class="link">
                                <a href="#">Proje detayı</a>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-6 align-self text-center mt-lg-0 mt-md-5 mt-4">
                    <div class="images">
                        <img src="~/Template/iportfolio-starter/assets/images/client1.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client2.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client3.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client4.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client5.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client6.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client2.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client3.png" class="img-fluid" alt="" />
                        <img src="~/Template/iportfolio-starter/assets/images/client4.png" class="img-fluid" alt="" />
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
