@model List<DemoUpSchoolProject.Models.Entities.TBL_PROJECT>
<section class="w3l-homeblock3" id="projects">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-12">
                    <span class="text">PROJELERİM </span>

                    <div class="images">
                        @foreach (var item in Model)
                        {
                            <img src="~/@item.ProjectImage" class="img-fluid" alt="@item.ProjectName" width="350" height="350" style="margin-bottom:10px; margin-right:15px;" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
