
@{
    ViewBag.Title = "Index4";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>KAYIT PANELİ</h2>
<label>ADINIZ:</label>
<input type="text" />
<br />
<label>SOYADINIZ:</label>
<input type="text" />
<br />
<a href="/Register/SignUp">Kayıt Ol</a>

<br /><br />



