@model DemoUpSchoolProject.Models.Entities.TBL_Feature
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>YENİ YETENEK EKLE</h2>


<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Değer</label>
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>
