
@{
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<h1>HOŞGELDİNİZ</h1>

    <div class="form-group">
        <label for="formGroupExampleInput">ADINIZ:</label>
        <input type="text" class="form-control" disabled placeholder="@ViewBag.name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">SOYADINIZ</label>
        <input type="text" class="form-control" disabled placeholder="@ViewBag.surname">
    </div>

<br />
<a href="/Member/UpdateMember" class="btn btn-warning">BİLGİLERİNİ GÜNCELLE</a>

