
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<center>
    <h2>GİRİŞ SAYFASI</h2>
    <hr />
    <form method="post">
        <div class="container">
            <label>Mail Adresi:</label>
            <input type="text" name="MemeberMail" class="form-control" />
            <label>Şifre:</label>
            <input type="password" name="MemberPassword" class="form-control" />
            <br />
            <button type="submit" class="btn btn-warning">GİRİŞ YAP</button>
        </div>
    </form>
</center>



