@model DemoUpSchoolProject.Models.Entities.TBL_About
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Image URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control",@type="file" })
    <button class="btn btn-info">KAYDET</button>
</form>

