
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <h1>ooppppsss! kayıp mı oldun, hemen anasayfaya dön</h1>
    <a href="/About/Index/" class="btn btn-warning">ANASAYFAYA DÖN</a>
</div>


